

// Main Column
.main {
	position: relative;
	width: 755px;
	float: left;
	

	.main--header {
		margin-bottom: 20px;
		h2 {margin-bottom: 20px;}
	}
	.main--content {
		float: left;
		width: 100%; 	
	 	margin-bottom: 75px;
	}
	
	.exhib-content.is-active {
		display: block;
	}
	.exhib-content {
		width: 505px;
		float: left;
		display: none;
		ul {
			padding-right: 55px;
			margin-bottom: 25px;
			float: left;
		}
		a { text-transform: none;
			img {
				display: block;
				margin: 20px 0; 
				width: 100%;
			}
		}
		
	}
	// #parking ul, 
	#marketing ul,
	#order-form ul {
			float: none;
		}


	// #temp-help ul,
	// #faq  ul {float: none;}

	// #parking .content-notice {
	// 	// margin-top: 10px;
	// }

	#parking ul {
		margin-bottom: 15px;
	}
	
	#temp-help .temp-tasks {
		margin-left: 20px;
	 li	{list-style: disc;}
	}

	#temp-help .temp-contact {
		float: left;
		padding-right: 25px;
	}

	#badges .info-link,
	#booth-diagrams .download { 
		display: inline-block; 
		margin: 0 0 25px;
	}
}

