

// Main Column
.main {
	position: relative;
	width: 755px;
	float: left;

	.main--header {
		margin-bottom: 20px;
		h2 {margin-bottom: 20px;}
	}
	.main--content {float: left; margin-bottom: 75px;}
	.exhib-content {
		width: 505px;
		float: left;
		ul {
			float: left;
			padding-right: 55px;
			margin-bottom: 25px;
		}
		a { text-transform: none;
			img {margin: 20px 0;}
		}
		
	}
	#parking ul, 
	#marketing ul, 
	#faq  ul {float: none;}
	
	#badges .info-link,
	#booth-diagrams .download { display: inline-block; margin: 0 0 25px;}
}

