
// Type
$main-font: 'Gotham SSm 7r', 'Gotham SSm A', 'Gotham SSm B', Arial, sans-serif;  
$main-font-weight: 400;
$main-font-style: normal;

// Color
$enk-white: #fff;
$enk-black: #000;
$enk-red: #ee1c24;
$enk-blue: #64d0f8;

$background-color: #ededed;
$nav-background-color: #343434;
$social-icons: #959595;