/* line 17, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 1, ../sass/_global.scss */
ol li {
  list-style-type: decimal;
  margin-left: 20px;
}

/* line 3, ../sass/_global.scss */
html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 1, ../sass/_type.scss */
body {
  font-family: "Gotham SSm A", "Gotham SSm B", Arial, sans-serif;
}

/* line 2, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6, a {
  text-transform: uppercase;
}

/* line 3, ../sass/_type.scss */
h1 {
  font-size: 34px;
}

/* line 4, ../sass/_type.scss */
h2 {
  font-size: 20px;
}

/* line 5, ../sass/_type.scss */
h3 {
  font-size: 14px;
  font-weight: bold;
}

/* line 7, ../sass/_type.scss */
p {
  font-size: 12px;
}

/* line 8, ../sass/_type.scss */
a {
  color: #000;
}

/* line 1, ../sass/_container.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_container.scss */
.container {
  margin-top: 20px;
  *zoom: 1;
  width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 940 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(0, 0, 0, 0)), color-stop(10%, rgba(100, 100, 225, 0.25)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(100, 100, 225, 0.25)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(100, 100, 225, 0.25)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 94px, rgba(0, 0, 0, 0) 94px, rgba(0, 0, 0, 0) 94px, rgba(100, 100, 225, 0.25) 94px, rgba(100, 100, 225, 0.25) 188px, rgba(0, 0, 0, 0) 188px, rgba(0, 0, 0, 0) 188px, rgba(100, 100, 225, 0.25) 188px, rgba(100, 100, 225, 0.25) 282px, rgba(0, 0, 0, 0) 282px, rgba(0, 0, 0, 0) 282px, rgba(100, 100, 225, 0.25) 282px, rgba(100, 100, 225, 0.25) 376px, rgba(0, 0, 0, 0) 376px, rgba(0, 0, 0, 0) 376px, rgba(100, 100, 225, 0.25) 376px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 470px, rgba(100, 100, 225, 0.25) 470px, rgba(100, 100, 225, 0.25) 564px, rgba(0, 0, 0, 0) 564px, rgba(0, 0, 0, 0) 564px, rgba(100, 100, 225, 0.25) 564px, rgba(100, 100, 225, 0.25) 658px, rgba(0, 0, 0, 0) 658px, rgba(0, 0, 0, 0) 658px, rgba(100, 100, 225, 0.25) 658px, rgba(100, 100, 225, 0.25) 752px, rgba(0, 0, 0, 0) 752px, rgba(0, 0, 0, 0) 752px, rgba(100, 100, 225, 0.25) 752px, rgba(100, 100, 225, 0.25) 846px, rgba(0, 0, 0, 0) 846px, rgba(0, 0, 0, 0) 846px, rgba(100, 100, 225, 0.25) 846px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 940px);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 94px, rgba(0, 0, 0, 0) 94px, rgba(0, 0, 0, 0) 94px, rgba(100, 100, 225, 0.25) 94px, rgba(100, 100, 225, 0.25) 188px, rgba(0, 0, 0, 0) 188px, rgba(0, 0, 0, 0) 188px, rgba(100, 100, 225, 0.25) 188px, rgba(100, 100, 225, 0.25) 282px, rgba(0, 0, 0, 0) 282px, rgba(0, 0, 0, 0) 282px, rgba(100, 100, 225, 0.25) 282px, rgba(100, 100, 225, 0.25) 376px, rgba(0, 0, 0, 0) 376px, rgba(0, 0, 0, 0) 376px, rgba(100, 100, 225, 0.25) 376px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 470px, rgba(100, 100, 225, 0.25) 470px, rgba(100, 100, 225, 0.25) 564px, rgba(0, 0, 0, 0) 564px, rgba(0, 0, 0, 0) 564px, rgba(100, 100, 225, 0.25) 564px, rgba(100, 100, 225, 0.25) 658px, rgba(0, 0, 0, 0) 658px, rgba(0, 0, 0, 0) 658px, rgba(100, 100, 225, 0.25) 658px, rgba(100, 100, 225, 0.25) 752px, rgba(0, 0, 0, 0) 752px, rgba(0, 0, 0, 0) 752px, rgba(100, 100, 225, 0.25) 752px, rgba(100, 100, 225, 0.25) 846px, rgba(0, 0, 0, 0) 846px, rgba(0, 0, 0, 0) 846px, rgba(100, 100, 225, 0.25) 846px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 940px);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 94px, rgba(0, 0, 0, 0) 94px, rgba(0, 0, 0, 0) 94px, rgba(100, 100, 225, 0.25) 94px, rgba(100, 100, 225, 0.25) 188px, rgba(0, 0, 0, 0) 188px, rgba(0, 0, 0, 0) 188px, rgba(100, 100, 225, 0.25) 188px, rgba(100, 100, 225, 0.25) 282px, rgba(0, 0, 0, 0) 282px, rgba(0, 0, 0, 0) 282px, rgba(100, 100, 225, 0.25) 282px, rgba(100, 100, 225, 0.25) 376px, rgba(0, 0, 0, 0) 376px, rgba(0, 0, 0, 0) 376px, rgba(100, 100, 225, 0.25) 376px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 470px, rgba(100, 100, 225, 0.25) 470px, rgba(100, 100, 225, 0.25) 564px, rgba(0, 0, 0, 0) 564px, rgba(0, 0, 0, 0) 564px, rgba(100, 100, 225, 0.25) 564px, rgba(100, 100, 225, 0.25) 658px, rgba(0, 0, 0, 0) 658px, rgba(0, 0, 0, 0) 658px, rgba(100, 100, 225, 0.25) 658px, rgba(100, 100, 225, 0.25) 752px, rgba(0, 0, 0, 0) 752px, rgba(0, 0, 0, 0) 752px, rgba(100, 100, 225, 0.25) 752px, rgba(100, 100, 225, 0.25) 846px, rgba(0, 0, 0, 0) 846px, rgba(0, 0, 0, 0) 846px, rgba(100, 100, 225, 0.25) 846px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 940px);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 94px, rgba(0, 0, 0, 0) 94px, rgba(0, 0, 0, 0) 94px, rgba(100, 100, 225, 0.25) 94px, rgba(100, 100, 225, 0.25) 188px, rgba(0, 0, 0, 0) 188px, rgba(0, 0, 0, 0) 188px, rgba(100, 100, 225, 0.25) 188px, rgba(100, 100, 225, 0.25) 282px, rgba(0, 0, 0, 0) 282px, rgba(0, 0, 0, 0) 282px, rgba(100, 100, 225, 0.25) 282px, rgba(100, 100, 225, 0.25) 376px, rgba(0, 0, 0, 0) 376px, rgba(0, 0, 0, 0) 376px, rgba(100, 100, 225, 0.25) 376px, rgba(100, 100, 225, 0.25) 470px, rgba(0, 0, 0, 0) 470px, rgba(0, 0, 0, 0) 470px, rgba(100, 100, 225, 0.25) 470px, rgba(100, 100, 225, 0.25) 564px, rgba(0, 0, 0, 0) 564px, rgba(0, 0, 0, 0) 564px, rgba(100, 100, 225, 0.25) 564px, rgba(100, 100, 225, 0.25) 658px, rgba(0, 0, 0, 0) 658px, rgba(0, 0, 0, 0) 658px, rgba(100, 100, 225, 0.25) 658px, rgba(100, 100, 225, 0.25) 752px, rgba(0, 0, 0, 0) 752px, rgba(0, 0, 0, 0) 752px, rgba(100, 100, 225, 0.25) 752px, rgba(100, 100, 225, 0.25) 846px, rgba(0, 0, 0, 0) 846px, rgba(0, 0, 0, 0) 846px, rgba(100, 100, 225, 0.25) 846px, rgba(100, 100, 225, 0.25) 940px, rgba(0, 0, 0, 0) 940px, rgba(0, 0, 0, 0) 940px);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  clear: both;
}
/* line 38, ../../../../.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../sass/_nav.scss */
.nav {
  position: fixed;
  width: 155px;
  margin-right: 25px;
  background: red;
}
/* line 11, ../sass/_nav.scss */
.nav .home {
  display: block;
  background: blue;
  padding: 0;
}
/* line 17, ../sass/_nav.scss */
.nav li {
  padding: 5px 10px;
}

/* line 2, ../sass/_main.scss */
.main {
  width: 760px;
  float: right;
}
/* line 6, ../sass/_main.scss */
.main .main--header {
  margin-bottom: 20px;
}
/* line 8, ../sass/_main.scss */
.main .main--header h2 {
  margin-bottom: 20px;
}
/* line 11, ../sass/_main.scss */
.main .main--nav {
  float: left;
  margin-right: 20px;
  display: inline-block;
}
/* line 15, ../sass/_main.scss */
.main .main--nav li a {
  display: inline-block;
  width: 220px;
  padding: 5px 0 10px 0;
  border-top: 1px solid red;
  font-size: 12px;
  text-decoration: none;
}
/* line 24, ../sass/_main.scss */
.main .main--content {
  overflow: hidden;
}
/* line 27, ../sass/_main.scss */
.main .exhib-content {
  float: left;
}
/* line 29, ../sass/_main.scss */
.main .exhib-content ul {
  float: left;
  padding-right: 25px;
}
/* line 34, ../sass/_main.scss */
.main #map-canvas {
  width: 100%;
  margin: 25px 0 0 0;
  clear: both;
}

/* line 1, ../sass/_faq.scss */
.faq-question {
  display: block;
}
